#header {
    background-color:#F1F1F1;
    font-family: 'Lobster', cursive;
    color: black;
    box-shadow: 0px 4px 10px hsla(0, 0%, 0%, 0.2);
  }
  
  #header h1 {
    text-align: center;
  }
  
  #header img {
    margin: 20px 20px 0 20px;
    
    width: 40px;
    height: 40px;
  }