/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* TODO */
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* TODO */
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* TODO */
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* TODO */
}

#header {
  box-shadow: 0px 4px 10px hsla(0, 0%, 0%, 0.2);

  display: flex;
  justify-content: space-between;

  padding: 1% 0;
  position: fixed;
  top: 0;
}

.header-day {
  background-color:#F1F1F1;
}

.header-night {
  background-color: rgb(30, 30, 50);
}


#header > a {
  text-align: center;
  width: 15%;
  padding: 1% 4% 0 4%;
  
}

#header a img {
  width: 80%;
  height: auto;
}
