#header {
    background-color:#F1F1F1;
    font-family: 'Lobster', cursive;
    color: black;
    box-shadow: 0px 4px 10px hsla(0, 0%, 0%, 0.2);

    display: flex;
    justify-content: space-between;

    padding: 4% 0;

  }

  #header > a {
    text-align: center;
    width: 25%;
    
  }
  
  #header a img {
    width: 50%;
    height: auto;
  }
