/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* TODO */
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* TODO */
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* TODO */
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* TODO */
}

.container {
    display: flex;
    justify-content: space-between;
}

button {
    background-color: #00000000;
    border: none;
    
    width: 20%;
    height: 100%;
    padding: 1% 3%;
}

button img {
    width: 110%;
    height: auto;
    vertical-align: middle;
}

.cross {
    transform: rotate(45deg);
}


li {
    font-size: 20pt;
    border-radius: 20px;
    padding: 3% 0%;
    margin: 2% 5%;
    width: 90%;
    max-height: 1.5em;
}

.item-name{
    text-align: center;
    width: 9em;
    white-space: nowrap;
    overflow-x: auto;
    
}

.non-selected {
    background-color: rgba(200, 200, 200, 0.5);
}  

.selected {
    background-color: rgba(60, 60, 60, 0.5);
    color: white;
}

.gold {
    background-color: rgba(255, 205, 42, 0.75);
    color: black;
}

.silver {
    background-color: rgba(77, 77, 77, 0.85);
    color: black;
    
}

.bronze {
    background-color: rgba(184, 67, 0, 0.75);
    color: black;
}
