/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* TODO */
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* TODO */
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* TODO */
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* TODO */
}

.list-item {
    border-radius: 20px;
    padding: 5% 0%;
    margin: 2% 5%;
    width: 90%;
    max-height: 1.5em;

    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
}

.list-item__name,
.list-item__weight{
    font-size: 1.75em;
    text-align: center;
    width: 9em;
    white-space: nowrap;
    overflow-x: auto;
}

.list-item__button {
    width: 3em;
    height: 100%;
    padding: 4%;
}

.list-item__button img {
    width: 100%;
    height: auto;
    vertical-align: middle;
}


.item__button--cross {
    transform: rotate(45deg);
}

.list-item--non-selected {
    background-color: rgba(200, 200, 200, 0.5);
}  

.list-item--selected {
    background-color: rgba(60, 60, 60, 0.5);
    color: white;
}

.list-item--gold {
    background-color: rgba(255, 205, 42, 0.75);
}

.list-item--silver {
    background-color: rgba(77, 77, 77, 0.85);
    color: white;
}

.list-item--bronze {
    background-color: rgba(184, 67, 0, 0.75);
}
