/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  /* TODO */

} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* TODO */
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* TODO */
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* TODO */
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* TODO */
}

  /* MENU CONTENT */

  
  /* SIZE */

  
  .menu-content {
    height: 20vh;
    width: 100%;
    padding-top: 3vh;
    overflow-y: none;
  }

  
  /* OPTIONS */

  .menu-content__toggles {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    
    margin: 5% 0;
    max-width: 100%;
    overflow-x: auto;
  }
  
  /* DECIDE */
  
  .menu-content__decide p {
    padding: 0;
    color: black;
  }
  
  .menu-content__decide__greeting {
    font-size: 16pt;
    margin: 2% 0;
  }
  
  .menu-content__decide__result {
    font-family: 'Lobster', cursive;
    font-size: 18pt;
    margin: 0;
  }
  
  /* ADD ITEM */
  
  .menu-content__add-item input {
    font-size: 18pt;
    text-align: center;
    padding: 2% 0;
    width: 60%;
    margin: 2% 15%;
    border: none;
    border-radius: 8px;
  }
  
  .menu-content__add-item button {
    background-color: #e7e7e7;
    color: black;
    font-size: 16px;
    border-radius: 8px;
    padding: 2% 0;
    width: 60%;
    margin: 0 10%;
  }