/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* TODO */
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* TODO */
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* TODO */
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* TODO */
}

  /* MENU CONTENT */


  .container {
    display: flex;
    justify-content: space-between;
  }
  
  /* SIZE */

  .full-content {
    height: 40%;
  }
  
  .half-content {
    height: 17.5%;
  }
  
  #menu-content {
    height: 55%;
    width: 100%;
    overflow-y: none;
  }
  
  .hide-menu {
    display: none;
  }
  
  /* OPTIONS */
  
  #options{
    margin: 2%;
  }

  #toggles {
    padding: 5% 0;
    margin: 0 5%;
    max-width: 90%;
    overflow-x: auto;
  }

  #toggle-message {
    width: 50%;
    margin: 0 auto;
    font-size: 50%;
  }
  
  /* DECIDE */
  
  #decide {
  }
  
  #decide p {
    padding: 0;
    color: black;
  }
  
  #greeting {
    font-size: 16pt;
    margin: 2% 0;
  }
  
  #result {
    font-family: 'Lobster', cursive;
    font-size: 18pt;
    margin: 0;
  }
  
  /* ADD ITEM */
  #add-item {
    display: "";
  }
  
  #listItem {
    font-size: 18pt;
    text-align: center;
    padding: 2% 0;
    width: 60%;
    margin: 2% 15%;
    border: none;
    border-radius: 8px;
  }
  
  #addBtn {
    background-color: #e7e7e7;
    color: black;
    font-size: 16px;
    border-radius: 8px;
    padding: 2% 0;
    width: 60%;
    margin: 0 10%;
  }