/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* TODO */
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* TODO */
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* TODO */
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* TODO */
}

.toggle-container {
    padding: 2%;
}

.toggle {
    height: 10vh;
    width: auto;
    border-radius: 50%;
}

.toggle img {
    width: 10vh;
    height: auto;
    display: block;
    margin: auto;
    opacity: 0.75;
}

.toggle--on {
    background-color: rgb(233, 113, 0);
}

.toggle--on img{
    filter: invert(100%);
}

.toggle--off {
    background-color: rgba(0, 0, 0, 0.25);
}

.toggle-name {
    font-size: 0.9em;
    white-space: nowrap;
    margin: 0;
    text-align: center;
}

.toggle-name--night {
    color: #ffffff75;
}

.toggle-name--day {
    color: #00000050;
}
