.toggle div{
    height: 50px;
    width: 50px;
    border-radius: 50%;
}

.toggle-on {
    background-color: rgb(124, 255, 124);
}

.toggle-on img{
    filter: invert(100%);
}

.toggle-off {
    background-color: rgba(0, 0, 0, 0.50);
}

.description {
    font-size: 2pt;
    color: black;
    border: 1px pink solid;
    max-width: 45px;



    font-family: arial;
    font-size: 0%;
}
