.hilite {
  border: 1px pink solid;
}

.hilite2 {
  border: 1px green solid;
}

.hilite3 {
  border: 1px red solid;
}

#root {
  background-color: #FFFFFF;
}

#main-list {
  overflow-y: auto;
}

.full-list {
  max-height: 444px;
}

.half-list {
  max-height: 295px;
}

.container {
  display: flex;
  justify-content: space-between;
}

/* HEADER */




/* LIST */

.list-item {
  font-size: 20pt;
  background-color: rgb(199, 199, 199);
  border-radius: 20px;
  padding: 3% 5%;
  margin: 1% 0%;
  width: 65%;
}



@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
