#root {
  background-color: #FFFFFF;
}

#main-list {
  overflow-y: auto;
}

.full-list {
  max-height: 444px;
}

.half-list {
  max-height: 295px;
}

.container {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0;
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
