/* Extra small devices (phones, 600px and down) */
@media only screen and (max-width: 600px) {
  .full-list {
    max-height: 35em;
  }
  
  .half-list {
    max-height: 25em;
  }
} 

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (min-width: 600px) {
  /* TODO */
} 

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (min-width: 768px) {
  /* TODO */
} 

/* Large devices (laptops/desktops, 992px and up) */
@media only screen and (min-width: 992px) {
  /* TODO */
} 

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
  /* TODO */
}


#root {
  
}

.interface-day {
  background-color: #FFFFFF;
}

.interface-night {
  background-color: rgb(30, 30, 63);
}

#main-list {
  overflow-y: auto;
}

.container {
  display: flex;
  justify-content: space-between;
}

ul {
  list-style-type: none;
  padding: 0;
}

.img-invert {
  filter: invert(100%);
}


@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
